
<div class="container">
  <div class="row hide">
    <div class="col-sm-2">
      <label for="Name">Project Id:</label>
    </div>
    <div class="col-sm-3">
      <input [(ngModel)]="addProject.ProjectId" type="text" class="form-control" id="name" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="Name">Project Name:</label>
    </div>
    <div class="col-sm-3">
      <input [(ngModel)]="addProject.Name" type="text" class="form-control" id="name" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="Priority">Priority:</label>
    </div>
    <div class="col-sm-3">
      <input [(ngModel)]="addProject.Priority" (ngModelChange)="priorityChanged($event)" type="range" class="form-control" name="points" min="0" max="30" id="name" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="StartDate">Start Date:</label>
    </div>
    <div class="col-sm-3">
      <input [(ngModel)]="start" type="date" class="form-control" id="name" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="EndDate">End Date:</label>
    </div>
    <div class="col-sm-3">
      <input [(ngModel)]="end" type="date" class="form-control" id="name" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="ParentId">Manager:</label>
    </div><div class="col-sm-3">
      <select [(ngModel)]="addProject.ManagerId" class="form-control" id="name">
        <option selected="" value=""></option>
        <option [ngValue]="pt.UserId" *ngFor="let pt of availableUsers">
          {{pt.FirstName}} {{pt.LastName}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div class="col-sm-2">
        <button type="submit" class="btn" (click)="newProject()">New</button>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" (click)="updateProject()">Update</button>
      </div>
      <div class="col-sm-2">
        <button type="submit" style="padding-left:10px" class="btn btn-warning" (click)="cancelProject()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <h3>Project Details</h3>
  <div class="table-responsive table-container">
    <table class="table">
      <tbody>
        <tr>
          <td class="col-sm-2">
            <label for="Name">Project:</label>
          </td>
          <td class="col-sm-2">
            <input [(ngModel)]="projectSearch.Name" type="text" class="form-control" id="name" required>
          </td>
        </tr>
        <tr>
          <td class="col-sm-2">
            <label for="Name">Priority From:</label>
          </td>
          <td class="col-sm-2">
            <input [(ngModel)]="projectSearch.PriorityFrom" type="text" class="form-control" id="PriorityFrom" required>
          </td>
          <td class="col-sm-2">
            <label for="Name">Priority To:</label>
          </td>
          <td class="col-sm-2">
            <input [(ngModel)]="projectSearch.PriorityTo" type="text" class="form-control" id="PriorityTo" required>
          </td>
        </tr>
        <tr>
          <td class="col-sm-2">
            <label for="Name">Start Date From:</label>
          </td>
          <td class="col-sm-2">
            <input [(ngModel)]="projectSearch.StartDate" type="date" class="form-control" id="StartDate" required>
          </td>
          <td class="col-sm-2">
            <label for="Name">Start Date To:</label>
          </td>
          <td class="col-sm-2">
            <input [(ngModel)]="projectSearch.EndDate" type="date" class="form-control" id="EndDate" required>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="float:right"><button type="button" class="btn btn-primary" (click)="searchProjects()">Search</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive table-container">
    <table class="table">
      <tbody>
        <tr>
          <td class="col-sm-2">
            <label for="Name">Sort By:</label>
          </td>
          <td class="col-sm-2"></td>
          <td class="col-sm-2" style="float:none">
            <button type="button" class="btn btn-primary" (click)="SortByName()">Project Name</button>
          </td>
          <td class="col-sm-2" style="float:none">
            <button type="button" class="btn" (click)="SortByPriority()">Priotrity</button>
          </td>
          <td class="col-sm-2" style="float:none">
            <button type="button" class="btn" (click)="SortByStartDate()">Start Date</button>
          </td>
          <td class="col-sm-2" style="float:none">
            <button type="button" class="btn" (click)="SortByEndDate()">End Date</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Priority</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of availableProjects">
          <td class="hidden">{{project.ProjectId}}</td>
          <td>{{project.Name}}</td>
          <td>{{project.Priority}}</td>
          <td>{{project.StartDate}}</td>
          <td>{{project.EndDate}}</td>
          <td>
            <button (click)="editProject(project)" class="btn btn-info">Update</button>
            <button (click)="deleteProject(project)" style="margin-left: 20px;" class="btn btn-info">Suspend</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
